*.cproject
*.project
*.pydevproject
*cmake_install.cmake
*.tar.gz
*.tgz
*.orig
*.bag
*.pyc
*~
lib/
_gtest_from_src/
bin/
build/
docs/
.settings/
msg_gen/
srv_gen/
*.cfgc
version.txt
.idea/
cmake-build-debug/
