<launch>
  <!-- This is an example launch file that demonstrates how to use
       swri_nodelet/nodelet to write simple launch files that can
       easily switch between running nodelets in a shared manager or
       as standalone nodes.

       The top level argument "use_nodelet" controls how the nodelets
       are launched.  A value of true launches the nodelets in a
       common manager, while a value of false launches the nodelets as
       standalone processes.

       The "use_nodelet" argument is used to set the value of the
       "nodelet_manager" argument.  To run as standalone processes,
       the nodelet_manager is set to "standalone" to tell
       swri_nodelet/nodelet to run as a unique process.  Otherwise,
       "nodelet_manager" is set to a node name of the manager that we
       want to launch.  Note that we have to explicitly include a
       leading slash in the argument so that nodelets can be launched
       properly from namespaces.

       Next, the nodelet manager is launched if use_nodelets is true.
       The manager's name does not include the leading slash because
       the full node path is derived from the namespace of the node
       tag.

       Finally, we can use the swri_nodelet to launch nodes.  The node
       pkg is always swri_nodelet and the type is always nodelet.  The
       specific nodelet type is provided in the arguments, just as
       with the stock nodelet launcher.  The only difference is the
       order of the arguments.
       

This is almost exactly the same as using the stock nodelet launcher,
except the arguments are slightly changed.
       -->

  <!-- Setup for launch nodelets together or standalone -->
  <arg name="use_nodelets" default="false"/>  
  <arg name="nodelet_manager" value="standalone" unless="$(arg use_nodelets)"/>
  <arg name="nodelet_manager" value="/nodelet_manager" if="$(arg use_nodelets)"/>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" if="$(arg use_nodelets)">
    <rosparam name="num_worker_threads" value="8"/>
  </node>

  <!-- Launching nodes from the same namespace -->
  <node name="my_root_node"
        pkg="swri_nodelet" type="nodelet"
        args="my_package/my_nodelet $(arg nodelet_manager)">
    <!-- ... -->
  </node>

  <!-- Launching nodes from the other namespaces -->
  <group ns="my_namespace">
    <node name="my_namespaced_node"
          pkg="swri_nodelet" type="nodelet"
          args="my_package/my_nodelet $(arg nodelet_manager)">
      <!-- ... -->
    </node>
  </group>

  <!-- The configuration is easily shared with included launch files. -->
  <include file="$(find swri_nodelet)/launch/example_include.launch">
    <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
  </include>

</launch>
